.nav
{
    height: 280px;
    width: 100px;
    border:2px dashed black
    border-bottom: 7px solid purple;
    outline: 5px solid blue;
    margin-top: 5px;
    margin-right: 7px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 100px;
}
a{
    text-decoration: none;
    font-size: 40px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    border:3px solid pink;
    cursor: move;
    background-color: aqua;
}
a:hover
{
    background-color: blueviolet;
}
.about
{
   height: 500px;
   width: 400px; 
   border: 2px solid purple;
   border-radius: 30%;
}